#type_text {
    margin-top: 10px;
}


.share-workouts .toggle.btn {
    float: right;
    max-height: 35px !important;
}

.share-workouts > label {
    line-height: 35px;
}

.home-data.table > tbody > tr > th,
.home-data.table > tbody > tr > td {
    border: none;
}