{% extends "index.twig" %}
{% block content %}
<form method="POST">
    <ul>
        <li>
            First Name: <input type="text" name="first_name" value="{{ user.first_name }}">
        </li>
        Last Name: <input type="text" name="last_name" value="{{ user.last_name }}">
        </li>
        <li>
            Email: <input type="text" name="email" value="{{ user.email }}">
        </li>
        <li><input type="submit" value="Save Changes"></li>
    </ul>
</form>
{% endblock %}