<!DOCTYPE html>
<html>
<head>
    {% block head %}
        {% include "common/header.twig" %}
    {% endblock %}
</head>
<body>
<div id="nav">{% include "common/nav.twig" %}</div>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    <small>footer here</small>
</div>
</body>
</html>