<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            {% include "common/header.twig" %}
        {% endblock %}
    </head>
    <body>
        <div id="nav">{% include "common/nav.twig" %}</div>
        <div id="content">
            <div class="container">
                {% if is_logged_in %}
                    {% block content %}{% endblock %}
                {% else %}
                    <h1>Sorry, bud.</h1>
                    <p>You need to be <a href="{{ app_path }}/">logged in</a> to view this content.</p>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div id="footer">

            </div>
        </div>
    </body>
</html>