{% extends "index.twig" %}
{% block content %}
    <h1>Team Summary</h1>
    <p>Minutes ToRD All-Stars have spent working out</p>
    <div class="pull-left">
        <button class="summary btn btn-default btn-sm">Summary</button>
        <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm">By Type</button>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="by-type" href="#">View All</a></li>
                <li role="separator" class="divider"></li>
                {% for type in types %}
                    <li><a class="by-type" href="#" id="{{ type }}">{{ type | capitalize }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <canvas class="ct-chart"></canvas>
    <script type="text/javascript" src="{{ app_path }}/assets/js/team-summary.js"></script>
{% endblock %}