<title>All Stars Workout</title>
<link rel="stylesheet" type="text/css" href="{{ app_path }}/assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{{ app_path }}/assets/bootstrap/css/bootstrap-theme.min.css" />
<script src="{{ app_path }}/assets/jquery/jquery.min.js"></script>
<script type="text/javascript" src="{{ app_path }}/assets/bootstrap/js/bootstrap.min.js"></script>
