<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="./"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Account<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="://tord-all-stars.herokuapp.com/account/">My account</a></li>
          <li><a href="://tord-all-stars.herokuapp.com/account/edit">Edit my account</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Workouts<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="://tord-all-stars.herokuapp.com/workouts/">View All</a></li>
            <li><a href="://tord-all-stars.herokuapp.com/workouts/new">Add a workout</a></li>
            <li><a href="#">My progress</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="://tord-all-stars.herokuapp.com/logout"><span class="glyphicon glyphicon-book"></span> Logout</a>
      </li>
    </ul>
  </div>
</nav>
